// app global css in SCSS form

.text-brand-white {
  color:#ecf6ff !important;
}

.text-brand-grey {
  color: #f3f3f3 !important;
}

.bg-brand-grey {
  background-color: #f3f3f3 !important;
}
.bg-brand-grey-darker{
  background-color: #e2e2e2 !important;
}
